.innerDiv {
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
}

/* /Button Central/ */
.btn2{
    @apply md:p-4 p-2 max-md:m-1;
    transition: all 150ms ease-in-out;  
}
.btn2:hover,
  .btn2:focus {
    @apply bg-gray-100 text-balBrand border-lBrand  border-2 rounded-[0.6em] ;
    outline: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.2) inset, 0 0 10px 4px rgba(0, 0, 255, 0.2);

  }
